
.header-font{
   font-family: 'Myriad Pro';
   font-size:58px;
   line-height:68px; 
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

 *{
	margin:0;
	box-sizing: border-box;
	padding:0;
	list-style: none;
	text-decoration: none;
    border:0px;
    }

    .testimo_des{
       font-family: 'Myriad Pro'; 
    }
    
    img.tiger_foot {
    max-width: 15px;
  }
  .font1 ul {
    display: flex;
    gap: 4px;
}

.col_arrow img{
    margin-right:20px;
}

.snoop1{
    display:none;
}

input.inputemail {
    border-radius: 20px 0px 0px 20px;
    padding: 7px 20px;
    background:#EAEAEA ;
    border:0px;
}
.inputsubmite {
    border-radius: 0px 20px 20px 0px;
    padding: 4px 16px;
    max-width:100px;
}

.int{
	margin-bottom:0px;
}

.top-50 {
    top: 35%!important;
}

.menu{
	width:30%;
	max-height:90%;
	height:85%;
	text-align: left;
}

.list_menu{
    position: absolute;
    z-index:11;
    width: 100%;
}

img.toggle {
    width: 65%;
}

.nav-bar{
	display: flex1;
	 column-gap: 30%;
	 align-items: center;
	 padding:10px 0;
}

.logo {
    width: 200px;
    text-align: center;
}


.bgcolor{
	background-color:#FCF9F2;
}


element.style {
    display: block;
}
.navigation {
    display: none;
}
.navigation {
    font-size: 24px;
    line-height: 45px;
    margin-right: 30px;
    position: absolute;
    left: 0px;
    background: white;
    top: 0px;
    min-height: 100vh;
    padding: 20px 8px 0px 7px;
}
.navigation li {
    border-bottom: 1px solid black;
}


img.cross {
    max-width: 40px;
    position: absolute;
    transform: translate(312px, -17px);
}

.font {
    max-width: 60%;
}

.font1{
	font-size: 16px;
    line-height: 32px;
    max-width:20%;
    margin:auto;
}

.maxi{
 display: flow;
 margin: 0 auto;
 width:30%;
 margin-top:50px;
}

.hello {
    background-image: url(../img/banner_img.jpg);
    height: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}

.hssp {
    margin:auto;
}

.abso {
    width: 48%;
    margin: auto !important;
}

.abso img {
        padding: 0 80px 0 0;
}

.navigation ul li {
    padding: 12px 0px;
}
.navigation {
    display: none;
}


.carousel-caption {
    right: unset;
    bottom: unset;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    top: 50%;
    transform: translate(50%,-50%);
}

a.sss_bss.bs_ss_ap_ff {
    background: #febe51;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding: 10px 20px;
    min-width: 251px;
    float: left;
    text-align: center;
    margin-top: 3rem;
    transition: .3s linear;
    min-height: 53px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tableau{
    background:#FCF9F2;
    padding:70px 0;
}

.arrow{
    position: relative;
    margin-bottom: 38px;
    margin-top: 38px;
}

.arrow::before {
    position: absolute;
    background-image: url(../png/arrow.png);
    content: "";
    top: 50%;
    left: 0%;
    background-size: contain;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.arrow::after {
    position: absolute;
    background-image: url(../png/arrow.png);
    content: "";
    top: 50%;
    right:-100px;
    background-size: contain;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.list-group{
    background: transparent;
}

.list-group1 li {
    padding: 0 10px;
}
.last_bg{
background:#FCF9F2;
}

.highlight{
    background-image:url(../png/highlights.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 160px!important;
    max-height: 50px!important;
    padding: 10px;
    font-weight: 400;
}

ul li a {
    color: white;
    text-decoration: none;
}

.col-width{
    max-width: 70%;
    margin: auto;
    width: 70%;
}

.last_bg_img {
    background-image: url(../png/bone.png);
    height: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

.last_bg0{
    background:#1D1D1D;
}
.input_h{
    max-height: 12px;
}

.img_widths{

    max-width:80%;
}

.img_oo{
    margin-bottom: -90px;
    z-index: 11;
    overflow: hidden;
}
.btn_ff{
    font-size: 14px;
}

.logowi img {
    width:65px;
}

ul{
    padding:0px;
}

.bg-img{
    display: none;
}

.Bannerphone{
    display: none;
}
.Phone_sec{
    display: none;
}

.last_bg01{
    display:none;

}

.dogsbutterR{
    display: none;
}

a.facebook:hover {
    transform: translate(10px, -15px);
    transition: 0.4s;
}

a.facebook {
    transform: translate(10px, 10px);
}

.snoopmichael{
    max-width:70%;
    font-size:19px;
}

.eee{
    background: #ddf3fa;
    margin: auto;
    padding: 17px;
}

@media screen and (max-width:1024px){

.carousel-caption {
 left: -100px;
}
.font{
 max-width: 60%;
 font-size:23px !important;
}
.font1 p {
    font-size: 20px !important;
}
.col_widthR{
 width: 70%!important;
 margin-bottom: 10px;
}
.md_text{
    margin: 0px!important;
    padding: 0px!important;
}
.header-font {
    font-size: 50px;
    line-height: 60px;
}
.dogbutteResponse{
    margin-top: 60px;
}

.abso {
    width:100%;
     margin: auto ;
}

.hello {
    background-position: center;
    min-height:500px;
}
.md_textR{
    font-size: 30px;
    line-height: 40px;
    max-width: 50%;
}

.abso img {
    padding: 0px;
        width: 64%
}

.font1 {
    max-width: 35%;
    margin: auto;
}

input.inputemail {
    max-width: 60%;
}

.inputsubmite {
    padding: 4px 8px;
    max-width: 70px;
    text-align: center;
    font-size: 14px;
}
.input_h {
 max-height:50px; 
}
.img_widths {
    max-width: 100%;
    margin-bottom: 35px;
}

.last_bg0 {
    background: #1D1D1D;
    margin-top: -28px;
}
.pb_tab{
    padding-bottom: 15px;
}
.Desktop_sec{
     padding:0px !important;
     margin: 0px !important;
 }


@media screen and (max-width:767px){
    .header-font{
   font-family: 'Myriad Pro';
   font-size:30px;
   line-height:40px; 
}

.abso {
    width:100%;
}

.font {
    max-width: 100%;
}
.font1 {
    font-size: 16px;
    line-height: 32px;
    max-width:100%;
    
}
.logo{
  max-width:100px;
}



.logow {
    width:80px;

}
.pragraph_div{
    width: 100%;
}
.carousel-caption {
    top: 40%;
    left: 0;
    max-width: 90%;
    transform: translate(0,-50%);
}
.arrow::before {
    left: 50%;
    top: 34px;
}
.arrow::after {
    top:273px;
    right: 20%;
}
.snoop1{
    display: block;
}
.snoop{
    display: none;
}
.bg-img{
    background-image: url(../img/bg_img_phn.png);
    display: block;
    background-size: cover;
    min-height: 970px;
}
.hello{
    display: none;
}

.Bannerdestop{
    display: none;
}

.Bannerphone{
    display:block;
}
.abso img {
    margin: 0px 10px;
    padding: 0px;
}
.phn_btn {
    font-size: 10px;
    line-height: 20px;
    width:auto;
    font-weight: 600;
}

.last_bg_img1{
    background-image: url(../png/bone1d.png);
    min-height:230px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.header-font1 {
    font-family: 'Myriad Pro';
    font-size: 45px;
    line-height: 50px;
}

.Desktop_sec{
    display:none;
}
.Phone_sec{
    display:block;
}

.last_bg0{
    display:none;
}
.last_bg01{
    display: block;
    background: black;
}
.dogsbutter{
    display: none;
}
.bg_color{
background:#EFFAFD;
}
.pragraph_div{
width: 100% !important;

}
input.inputemail {
    padding: 4px 17px;
    max-width: 150px;
}
.logowi img {
    width: 60px;
}
.accord a{
    border-bottom: 1px solid white;
}